* {
    padding: 0;
    margin: 0;
}

.section2 {
    border: 1px solid red;
}

.Odontodactylus {
    font-style: italic;
}

.cientificName {
    font-weight: 600;
}


header {
    background-color: #4895ef;
    margin: 0 auto;
}

.section1 {
    width: 50%;
    border: 1px solid red;
    color: #560bad;
    text-align: center;
}

.pictureHeader {
    width: 30em;
    border-radius: 50px;
    border-color: #3a0ca3;
    border-style: groove;
}

h1 {
    font-size: 45px;
    padding: 5px 0 10px 0;
}
.container {
    margin: 0 auto;
}
.h2Header {
    text-align: center;
    
}